*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
   
}
.calculator{
    background-color: rgb(255, 255, 255);
    display: flex;
   padding: 12px;
   border: 5px solid rgb(10, 10, 10);
   border-radius: 10px;
  
 
}
.screen{
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
  
   justify-content: flex-end;
   align-items: flex-end;
   padding: 10px;
   font-size: 25px;
   border: 5px solid black;
   
   

}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-template-rows: repeat(5,50px);
    grid-gap: 5px;
    margin-top: 5px;
    font-size: 85px;
    border-radius: 25px;
    

}
button:active {
    background-color: black;
    color: rgb(255, 255, 255);

}
#result{
width: 215px;
font-size: 25px;
padding: 5px;
background-color: rgb(255, 255, 255);
background-color: rgb(7, 245, 7);
height: 60px;




}
.buttons input{
    font-size: 30px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    
}
.buttons input:hover{
    font-size: 45px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
#resulta{
    width: 105px;
}